.h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

.h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}

input [type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}

